.logo{
    width: 200px;
}
body{
    background-image: linear-gradient(to left, rgba(111, 0, 255, 0.76), rgb(0, 128, 111) );
}

.carrusel{
    margin: 10px;
}

.colorMenu{
    background-image: linear-gradient(to right, rgb(111, 0, 255), rgb(0, 128, 111) );
    border-radius: 50px;
    color: rgb(0, 0, 0);
}